.env
.sounds-great-ai

tmp/
readonly-docs
analysis/

# Logs
.logs/
.pids/
bin/

# SQLite databases
*.db
*.db-wal
*.db-shm

# Frontend env
web/.env.development
web/.env.local
web/.env.production

.workbuddy
.zcode
.superpowers/
docs/superpowers
docs/plans